.content_container {
    width: 1000px;
    height: 890px;
    background-color: white;
    margin: 0 auto;
}
.mainPageList{
            margin-bottom: 5px;
        }
        #qna{
            width: 40%;
            height: 400px;
            background-color: white;
            float: left;
            margin-top: 40px;
            margin-left: 30px;
            margin-right: 40px;
            display: block;
        }
        .menu{
            list-style: none;
            /* padding: 6px; */
            line-height: 25px;
        }
        ul{
            padding-left: 0px;
            list-style-type: none;
        }
        #qna-container{
            width: 100%;
            height: 50px;
            border: 3px solid #ccc;
            border-radius: 10px;
            float: left;
        }
            .icon{
                width: 200px;
                height: 93px;
                position: relative; top: -12%; left: 65%; transform: translate(-40%, -100%); 
                float: left;
            }
            .icon-name{
                margin-top: 15px;
                margin-bottom: 13px;
                margin-left: 10px;
                font-family: 'SDSamliphopangche_Outline';
                font-weight: bold;
                font-size: 20px;
                
            }
            #comunity{
                width: 40%;
                height: 400px;
                background-color: white;
                margin-top: 40px;
                margin-left: 30px;
                margin-right: 40px;
                float: left;
                display: block
            }
        #comunity-container{
                width: 100%;
                height: 50px;
                border: 3px solid #ccc;
                border-radius: 10px;
                float: left;
            }
        .index{
            line-height: 23px;
            padding-left: 8px;
        }
        .index_border_span{
            font-size: 15px;
        }
        .index_border_span_subject{
            font-size: 20px;
        }
            #it{
                width: 40%;
                height: 400px;
                background-color: white;
                margin-top: 40px;
                margin-left: 30px;
                margin-right: 40px;
                float: left;
            }
        #it-container{
                width: 100%;
                height: 50px;
                border: 3px solid #ccc;
                border-radius: 10px;
                float: left;
            }
            #notice{
                width: 40%;
                height: 400px;
                background-color: white;
                margin-top: 40px;
                margin-left: 30px;
                margin-right: 40px;
                float: left;
            }
        #notice-container{
                width: 100%;
                height: 50px;
                border: 3px solid #ccc;
                border-radius: 10px;
                float: left;
            }