@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&family=Nanum+Pen+Script&family=Single+Day&display=swap');

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container{
    width: 1000px;
    height: 1030px;
    margin: 0 auto;
}
.content_container {
    width: 1000px;
    height: 890px;
    background-color: white;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 70px;

}

#logocon {
    width: 17%;
    height: 70px;
    background-color: white;
    float: left;
}

#logo {
    width: 150px;
    padding-top: 5px;
    padding-left: 5px;
}

#category {
    width: 43%;
    height: inherit;
    float: left;
    background-color: white;
    display: flex;
}

#category ul li {
    flex-direction: row;
    justify-content: space-evenly;
}

#category_list {
    list-style: none;
    width: 100%;
}

#category_list {
    padding-left: 60px;
    margin: 0 auto;
}

.menu {
    font-family: 'SDSamliphopangche_Outline';
    font-size: 22px;
    float: left;
    padding-top: 20px;
    padding-right: 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

#searchcon {
    width: 20%;
    height: inherit;
    float: left;
    background-color: white;
}

#searchbar {
    padding-left: 10px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#member {
    background-color: white;
    width: 20%;
    height: inherit;
    float: left;
}

#login,
#join {
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#login {
    margin-right: 10px;
    width: 70px;
    height: 30px;
    background-color: white;
    opacity: 0.8;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;

}

#login:hover {
    background-color: gray;
    opacity: 0.57;
}

#join {
    color: white;
    font-size: small;
    width: 80px;
    height: 30px;
    background-color: blue;
    opacity: 0.7;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#join:hover {
    background-color: gray;
    opacity: 0.57;
}
.login_info_container{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    font-weight: 500;
    width: 200px;
    height: 60px;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login_info_button_container{
    margin-top: 5px;
    margin-bottom: -20px;
}
.login_info_button{
    margin-left: 5px;
    margin-bottom: 0;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    width: 90px;
    color: white;
    background-color: #0090f9;
}
.login_info_button>button:hover{
    opacity: 0.8;
}
main {
    width: 100%;
    height: 82%;
    background-color: white;
}

#menu {
    width: 18%;
    background-color: white;
    height: 400px;
    border: 1px solid black;
    float: left;
}

#section {
    width: 80%;
    height: 100%;
    float: left;
}

footer{
    width: 100%;
    height: 40px;
    background-color: white;
    border-top: 1px solid #ccc;
    border-left: 0;
}

footer span{
    font-size: 15px;
    color : black;
    opacity: 0.7;
}
footer{
    padding: 20px;
}


#main-img {
    width: 570px;
    height: 65px;
    border: 3px solid #ccc;
    border-radius: 10px;
    margin-top: 42px;
    padding-left: 20px;
    height: 15%;
    width: 100%;
    margin-left: 115px;
}


#main-img {
    width: 570px;
    height: 65px;
    border: 3px solid #ccc;
    border-radius: 10px;
    margin-top: 42px;
    padding-left: 20px;
}